* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 10px;
}

/* nav content css */

nav {
  width: 100%;
  background-color: rgb(35, 35, 35);
  padding: 0 1.5rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

li,
a {
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

.has-sub-menu:hover {
  cursor: pointer;
}

.menu,
.sub-menu {
  list-style-type: none;
}

.logo-link {
  font-size: 1rem;
  padding: 0.75rem 1rem 0.75rem 0;
  font-family: "Michroma";
}

.item {
  padding: 1rem;
  font-family: "Michroma";
}

a:not(.logo-link):hover {
  border-bottom: 1px solid blue;
}

a:hover,
.item a:hover::after {
  color: rgb(12, 40, 251);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 1.5rem 0.5rem;
}

.menu li.sub-item a {
  padding: 1.5rem;
}

.toggle-img {
  width: 2rem;
  height: 2rem;
  filter: invert(100%) sepia(1%) saturate(2372%) hue-rotate(186deg)
    brightness(105%) contrast(94%);
}

.toggle {
  order: 1;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.sub-menu {
  display: none;
}

.sub-menu.sub-menu-active {
  display: block;
}

.has-sub-menu > a::after {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 900;
  content: "▼";
  color: black;
  padding-left: 0.5rem;
}

/* replace icons with font awsome */

.sub-menu-active {
  background-color: rgb(183, 183, 183);
  border-radius: 0.3rem;
}

.sub-item:hover {
  border-top: 1px solid blue;
}

/* main content css */

.main-content {
  background-color: gray;
  height: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  max-width: 90%;
  background-color: rgb(35, 35, 35);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.about-header {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.about-bio {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

/* @media all and (min-width: 400px) {
  body { font-size: ;}
} */

.skills {
  max-width: 90%;
  background-color: rgb(35, 35, 35);
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-title {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.skills-display {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 4rem;
}

.tech-stacks-container {
  /* width: 100%; */
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 7px 0px 0px rgb(255, 255, 255);
  -webkit-box-shadow: 8px 7px 0px 0px rgb(255, 255, 255);
  -moz-box-shadow: 8px 7px 0px 0px rgb(255, 255, 255);
}

.tech-heading {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  padding: 1rem;
  text-transform: uppercase;
}

.tech-subheading {
  padding: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #111;
  color: white;
  margin-bottom: 1rem;
}

.stacks {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 1rem;
}

.tech-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.tech-logo {
  width: 2rem;
  height: 2rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.tech-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.projects {
  max-width: 90%;
  background-color: rgb(35, 35, 35);
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title-text {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 0.8rem;
}

.project-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.project-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-link {
  color: black;
  padding: 1rem;
  background-color: white;
}

@media all and (min-width: 700px) {
  :root {
    font-size: 20px;
  }

  .logo-link {
    font-size: 1.5rem;
  }

  .about-header {
    font-size: 2.5rem;
  }

  .about-bio {
    font-size: 1.5rem;
  }

  .skills-display {
    flex-direction: row;
  }

  .project-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}

@media all and (min-width: 960px) {
  .logo {
    padding: 1rem;
    font-weight: 900;
  }

  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .menu li a {
    display: block;
    padding: 1rem;
  }

  .item {
    position: relative;
    display: block;
    width: auto;
  }

  .sub-menu-active .sub-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background-color: #111;
  }

  .toggle {
    display: none;
  }

  .sub-menu-active {
    border-radius: 0;
  }

  .about-header {
    font-size: 3rem;
  }

  .about-bio {
    font-size: 2rem;
  }

  .project-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
